


<section class="ftco-appointment">
	<div class="overlay"></div>
	<div class="container-wrap">
		<div class="row no-gutters d-md-flex align-items-center">
			<div class="col-md-6 d-flex align-self-stretch">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48106.438239288764!2d45.31493316408379!3d41.098441062159104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404125adbc05be35%3A0xfd3ad1d18429a0a2!2sQazax!5e0!3m2!1saz!2saz!4v1755884119462!5m2!1saz!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="col-md-6 appointment ftco-animate">
				<h3 class="mb-3">Contact Us</h3>
				<form action="#" class="appointment-form">
					<div class="d-md-flex">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
					</div>
					<div class="d-me-flex">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Send" class="btn btn-primary py-3 px-4">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>