@model PizzaProject.ViewModels.Admin.Category.CategoryCreateVM

@{
    ViewData["Title"] = "Create Category";
}
<div class="container" style="margin-left:300px; margin-top:50px;">


<div class="container mt-4">
    <h2>Create Category</h2>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success mt-2">Create</button>
        <a asp-action="Index" class="btn btn-secondary mt-2">Back</a>
    </form>
</div>
</div>